#user_nav
  = link_to 'Home', root_path
  |
  = link_to "Users", users_path
  |
  = link_to "Posts", posts_path
  |
  - if user_signed_in?
    = link_to current_user.login, user_path(current_user)
    |
    = link_to "Log out", destroy_user_session_path
  - else
    = link_to "Register", new_user_registration_path
    |
    = link_to "Log in", new_user_session_path
%br